<!DOCTYPE html>
<html lang="en">
  <head> 
    <title>Career Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head> 
  
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="../static/banner.jpg" alt="banner">
    <div class="container my-4">
      <h1 class="text-center h1 my-4">Career Website</h1>
      
      <div class="row">
        <div class="col-md-6">
          <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus laborum labore aliquid consequuntur accusantium quibusdam omnis unde, optio voluptatem molestiae sit aliquam similique tenetur et laudantium animi doloremque dolorem quas
          </p>
        </div>
        <div class="d-none d-md-block col-md-6">
           <img class="img-fluid" src="../static/about.jpg" alt="photo">
        </div>
      </div>
      <div id="opening">
        <h2 class="text-center h2 my-4">Job Openings</h2>
        <div class="w-100">
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </div>
      </div>
      <div class="text-center">
        <a class="btn btn-primary btn-lg" href="mailto:abc@careerwebsite.com?subject=Questions%20about%20jobs%20openings">
          Contact Us
        </a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>