<!DOCTYPE html>
<html lang="en">
  <head> 
    <title>Career Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">   
  </head> 
  
  <body>
    <div id="container">
      <h1>Career Website</h1>
      <img id="banner" src="static/banner.jpg" alt="banner">
      <div id="about">
        <h2>About Career Website</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus laborum labore aliquid consequuntur accusantium quibusdam omnis unde, optio voluptatem molestiae sit aliquam similique tenetur et laudantium animi doloremque dolorem quas
        </p>
      </div>
      <div id="opening">
        <h2>Job Openings</h2>
        <p>To do - show the jobs</p>
      </div>
      <div style="text-align:center">
        <button>Contact Us</button>
      </div>
    </div>
  </body>
</html>